<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Bienvenue</h1>
        <p>Choisissez une page :</p>
    </header>
    <main>
        <div class="grid-container">
            <a href="./exercice1" class="card">Exercice 1</a>
            <a href="./exercice2" class="card">Exercice 2</a>
            <a href="./exercice3" class="card">Exercice 3</a>
            <a href="./exercice4" class="card">Exercice 4</a>
            <a href="./svg" class="card">SVG</a>
            <a href="./maison_v2" class="card">Maison V2</a>
            <a href="./valet" class="card">Valet SVG</a>
            <a href="./chenille" class="card">Chenille</a>
            <a href="./Jeu_de6" class="card">Jeu de 6</a>
            <a href="./imageJS" class="card">Image JS</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Damien RIGAUDEAU</p>
    </footer>
</body>
</html>
