<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exercice 2</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;

        }
        table, th, td {
            border: 1px solid black;
           
            padding: 5px;
        }
        .title {
            font-weight: bold;
            font-size: 18px;
        }
        .list-title {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <!-- Première partie -->
    <p class="title">Voici la première partie :</p>
    <table>
        <tr>
            <td colspan="1">un tableau</td>
            <td colspan="1"></td>
            <td colspan="1"></td>
        </tr>
            <td colspan="=1"></td>
            <td colspan="=1">à 6</td>
            <td colspan="=1">case</td>
        <tr>

        </tr>
    </table>

    <!-- Deuxième partie -->
    <p class="title">Voici la deuxième partie</p>
    <p class="list-title">Une liste</p>
    <ol>
        <li>premier point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
        <li>2e point</li>
        <li>3e point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
    </ol>

    <!-- Troisième partie -->
    <p class="title">Voici la troisième partie :</p>
    <table>
        <tr>
            <td>un autre tableau</td>
            <td> </td>
            <td> </td>
            <td colspan="2"> </td>
        </tr>
        <tr>
            <td rowspan="3"> </td>
            <td> </td>
            <td rowspan="3"> </td>
            <td colspan="2"></td>
    
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            


        </tr>
        <tr>
            <td> </td>
      
        </tr>

    </table>

</body>
</html>
