<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:	rgba(126, 126, 126, 0.5)">
<rect style="fill:rgb(228, 202, 7);" x="230" y="250" width="290" height="290" />
<rect style="fill:rgb(110, 53, 25);" x="430" y="440" width="50" height="100" />
<polygon style="fill:rgb(239, 11, 11);" points="230 250, 375 100, 520 250"/>
<rect style="fill:rgb(40, 164, 153);" x="270" y="300" width="60" height="60" />
<circle id="foo" style="fill:rgb(40, 164, 153);" cx="375" cy="200" r="25" />
<circle id="foo" style="fill:rgb(242, 255, 0);" cx="600" cy="70" r="50" />
<circle id="foo" style="fill:rgb(28, 227, 10); stroke:rgb(32, 32, 32); stroke-width:1px;" cx="210" cy="520" r="20" />
<circle id="foo" style="fill:rgb(28, 227, 10); stroke:rgb(32, 32, 32); stroke-width:1px;" cx="190" cy="520" r="20" />
<circle id="foo" style="fill:rgb(28, 227, 10); stroke:rgb(32, 32, 32); stroke-width:1px;" cx="200" cy="510" r="20" />
<circle id="foo" style="fill:rgb(28, 227, 10); stroke:rgb(32, 32, 32); stroke-width:1px;" cx="540" cy="520" r="20" />
</svg>



</body>
</html>
